.homePage{
    width: 100%;
    padding: 30px;
    margin-top:50px;
   
    .userInfo{
        width: 100%;
        // margin: 30px;
       
        p{
            font-size: 16px;
            font-weight: 500;
            .sText{
                margin-left: 10px;
            }
            
        }
        .head-bottom{
            width: 100%;
            display: flex;
            padding-bottom:10px;
            justify-content: space-between;
            border-bottom: 1px solid #ccc;
            .lineLeft{
                display: flex;
                img{
                    width: 80px;
                    height: 80px;
                }
                .userDetail{
                    margin-left: 30px;
                    font-size: 20px;
                    font-weight: 500;
                    .download{
                        margin-top: 20px;
                        a{
                            font-size: 18px;
                            font-weight: 400;
                            color: #0065D9;
                        }
                        
                    }
                }
            }
            .lineRight{
                margin-right: 50px;
                .time{
                    font-size: 20px;
                }
            }
        }
    }
    .navInfo{
     
            
        .navInfo_title{
            margin-top: 20px;
            font-size: 18px;
            .navInfo_title_detail{
                margin-left: 20px;
            }
        }
        .clearfix::after{
            display: block;
            content: "";
            line-height: 0;
            clear: both;
        }
        .Nav_list_wrap{          
            list-style: none;
            width: 100%;
            li{
                width: 40%;
                margin-top:20px;
                margin-left: 40px;
                float: left;
                display: flex;
                align-items: center;
                height: 96px;
                border: 5px solid #666;
                border-radius: 10px;
                .icon_wrap{
                    width: 96px;
                    height: 96px;
                    font-size: 60px;
                    margin-left: 20px;
                    border-right: 5px solid #666;
                   
                }
                .nav_title_wrap{
                    padding: 20px;
                }
            } 
            li:hover{
                // transform: translateX(-20px);
                transform: scale(1.1);
            }           
        }
        
    }


}
