.dormPage{
    .btn_wrap{
        width: 80px;
        height: 30px;
        margin-top: 20px;
        margin-left: 20px;
    }
    .eidt_btn_wrap{
        font-size: 22px;
        .edit_btn{
            margin-right: 5px;
        }
      
    }
}