.analysis{
    width: 100%;
    .top_wrapper{
        display: flex;
        justify-content: center;
        #main{
            margin:50px 0 0 0 ;

        }
        #main1{
            margin:50px 0 0 160px ;
        }
    }


}